In [ ]:
USE WideWorldImporters
SELECT CustomerID, CustomerName, CustomerCategoryID
FROM Sales.Customers
WHERE CustomerCategoryID = 7;

In [ ]:
USE WideWorldImporters
SELECT CustomerID, CustomerName, CustomerCategoryID
FROM Sales.Customers
WHERE CustomerCategoryID = 8;

In [ ]:
USE WideWorldImporters
SELECT CustomerID, CustomerName, CustomerCategoryID
FROM Sales.Customers
WHERE CustomerName = 'Tailspin Toys (Head Office)';

In [ ]:
USE WideWorldImporters
SELECT CustomerID, CustomerName, CustomerCategoryID
FROM Sales.Customers
WHERE CustomerName LIKE 'Tailspin Toys%';

In [ ]:
USE WideWorldImporters
SELECT CustomerID, CustomerName, CustomerCategoryID
FROM Sales.Customers
WHERE CustomerName LIKE '%Toys%';

In [ ]:
USE WideWorldImporters
SELECT CustomerID, SalespersonPersonID
FROM Sales.Orders
WHERE SalespersonPersonID = 3;

In [ ]:
USE WideWorldImporters
SELECT CustomerID, SalespersonPersonID
FROM Sales.Orders
WHERE SalespersonPersonID = 3 AND CustomerID = 414;

In [ ]:
USE WideWorldImporters
SELECT OrderID, CustomerID, SalespersonPersonID, OrderDate
FROM Sales.Orders
WHERE OrderID IN (1,2,3);

In [ ]:
USE WideWorldImporters
SELECT OrderID, CustomerID, SalespersonPersonID, OrderDate
FROM Sales.Orders
WHERE OrderID NOT IN (1,2,3);

In [ ]:
USE WideWorldImporters
SELECT OrderID, CustomerID, SalespersonPersonID, OrderDate
FROM Sales.Orders
WHERE OrderID > 73590;

Exercise 1

In [ ]:
USE TSQLV6
SELECT orderid, orderdate, custid, empid
FROM Sales.Orders
WHERE YEAR(orderdate) = 2021 AND MONTH(orderdate) = 6;

Exercise 2

In [ ]:
USE TSQLV6
SELECT orderid, orderdate, custid, empid
FROM Sales.Orders
WHERE orderdate = DATEADD(day, -1, EOMONTH(orderdate))

Exercise 3

In [ ]:
USE TSQLV6
SELECT empid, firstname, lastname
FROM HR.Employees
WHERE lastname LIKE N'%e%e%e';

Exercise 4

In [ ]:
USE TSQLV6
SELECT orderid, (qty * unitprice) as totalvalue
FROM Sales.OrderDetails
WHERE (qty * unitprice) > 10000

Exercise 5

In [ ]:
USE TSQLV6
SELECT empid, lastname
FROM HR.Employees
WHERE lastname LIKE N'';

Exercise 6

The first query results shows the specified orderdate and before. The second query's result is that it shows the employee that has the specific order date.

Exercise 7

In [ ]:
USE TSQLV6
SELECT TOP(3)  shipcountry, AVG(freight)
FROM Sales.Orders
WHERE orderdate BETWEEN '20210101' AND '20220101'
GROUP BY shipcountry
ORDER BY AVG(freight) DESC;

Exercise 8

In [ ]:
USE TSQLV6
SELECT custid, orderdate, orderid
FROM Sales.Orders
Order BY custid

Exercise 9

In [ ]:
USE TSQLV6
SELECT empid, firstname, lastname, titleofcourtesy,
CASE titleofcourtesy
    WHEN 'Mr.' THEN 'MALE'
    WHEN 'Mrs.' THEN 'FEMALE'
    WHEN 'Ms.' THEN 'FEMALE'
    ELSE 'UNKNOWN'
END AS gender
FROM HR.Employees;

Exercise 10

In [ ]:
SELECT custid, region
FROM Sales.Customers
ORDER BY 
CASE 
    WHEN region IS NULL THEN 1 
    ELSE 0 
END, 
region;