In [ ]:
CREATE TABLE DbSecurity.UserAuthorization (
    UserAuthorizationKey INT NOT NULL PRIMARY KEY,
    ClassTime NCHAR(5) NULL CHECK (ClassTime IN ('10:45')),
    IndividualProject NVARCHAR(60) NULL DEFAULT 'PROJECT 2 RECREATE THE BICLASS DATABASE STAR SCHEMA',
    GroupMemberLastName NVARCHAR(35) NOT NULL,
    GroupMemberFirstName NVARCHAR(25) NOT NULL,
    GroupName NVARCHAR(20) NOT NULL,
    DateAdded DATETIME2 DEFAULT SYSDATETIME()
);

INSERT INTO DbSecurity.UserAuthorization (
    UserAuthorizationKey,
    ClassTime,
    IndividualProject,
    GroupMemberLastName,
    GroupMemberFirstName,
    GroupName
)
VALUES
(1, '10:45', 'create store procedures', 'Bains', 'Jasky', 'Group#1'),
(2, '10:45', 'drop foreign keys', 'Vathada', 'Mai', 'Group#1'),
(3, '10:45', 'load data', 'Garnica', 'Richard', 'Group#1'),
(4, '10:45', 'truncate tables', 'Wang', 'William', 'Group#1'),
(5, '10:45', 'Create first tables', 'Felix', 'Ashly', 'Group#1'),
(6, '10:45', 'load data', 'Cristobal', 'David', 'Group#1'),
(7, '10:45', 'default', 'default','default', 'default');


ALTER TABLE FileUpload.ProductSubCategories
ADD UserAuthorizationKey INT NOT NULL DEFAULT 7;


SELECT *
FROM [CH01-01-Dimension].[DimOccupation]