This creates the tables

In [ ]:
DROP TABLE IF EXISTS ParsedFileUpload.OriginallyLoadedData;

CREATE TABLE ParsedFileUpload.OriginallyLoadedData (
    SalesKey INT PRIMARY KEY,

    ProductCategory NVARCHAR(50),
    ProductSubcategory NVARCHAR(50),
    
    -- Split SalesManager into first and last name
    SalesManagerFirstName NVARCHAR(50),
    SalesManagerLastName NVARCHAR(50),

    ProductCode NVARCHAR(25),
    ProductName NVARCHAR(100),
    Color NVARCHAR(25),
    ModelName NVARCHAR(100),

    OrderQuantity INT,
    UnitPrice DECIMAL(10,2),
    ProductStandardCost DECIMAL(10,2),
    SalesAmount DECIMAL(12,2),

    OrderDate DATE,
    MonthName AS DATENAME(MONTH, OrderDate),
    MonthNumber AS MONTH(OrderDate),
    Year AS YEAR(OrderDate),

    -- Split CustomerName into first and last
    CustomerFirstName NVARCHAR(50),
    CustomerLastName NVARCHAR(50),

    MaritalStatus CHAR(1),
    Gender CHAR(1),
    Education NVARCHAR(50),
    Occupation NVARCHAR(50),

    TerritoryRegion NVARCHAR(50),
    TerritoryCountry NVARCHAR(50),
    TerritoryGroup NVARCHAR(50)
);

This uploads all the raw data into the new table we created ^

In [ ]:
INSERT INTO ParsedFileUpload.OriginallyLoadedData (
    SalesKey,
    ProductCategory,
    ProductSubcategory,
    SalesManagerFirstName,
    SalesManagerLastName,
    ProductCode,
    ProductName,
    Color,
    ModelName,
    OrderQuantity,
    UnitPrice,
    ProductStandardCost,
    SalesAmount,
    OrderDate,
    CustomerFirstName,
    CustomerLastName,
    MaritalStatus,
    Gender,
    Education,
    Occupation,
    TerritoryRegion,
    TerritoryCountry,
    TerritoryGroup
)
SELECT
    SalesKey,
    ProductCategory,
    ProductSubcategory,

    -- Split SalesManager into first and last
    LEFT(SalesManager, CHARINDEX(' ', SalesManager + ' ') - 1),
    LTRIM(RIGHT(SalesManager, LEN(SalesManager) - CHARINDEX(' ', SalesManager + ' '))),

    ProductCode,
    ProductName,
    Color,
    ModelName,
    OrderQuantity,
    CAST(UnitPrice AS DECIMAL(10,2)),
    CAST(ProductStandardCost AS DECIMAL(10,2)),
    CAST(SalesAmount AS DECIMAL(12,2)),
    CAST(OrderDate AS DATE),

    -- Split CustomerName into first and last
    LEFT(CustomerName, CHARINDEX(' ', CustomerName + ' ') - 1),
    LTRIM(RIGHT(CustomerName, LEN(CustomerName) - CHARINDEX(' ', CustomerName + ' '))),

    MaritalStatus,
    Gender,
    Education,
    Occupation,
    TerritoryRegion,
    TerritoryCountry,
    TerritoryGroup
FROM FileUpload.OriginallyLoadedData;